<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EXEplorer{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/background.css' %}">
</head>

<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container">
            <div class="row w-100">
                <div class="col-lg-6">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        {% load static %}
                        <img src="{% static 'images/Uni_Logo.png' %}" alt="Exeter uni Logo" class="d-inline-block align-top img-fluid" style="max-width: 40%">
                    </a>
                </div>
                <div class="col-lg-6 d-none d-lg-flex align-items-center "> 
                    {% if user.is_authenticated %}
                        <span class="text-white">{{ user.username }}</span>
                    {% endif %}
                </div>
              
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="d-lg-none ml-auto"> 
                {% if user.is_authenticated %}
                    <span class="text-white">{{ user.username }}</span>
                {% endif %}
            </div>

            <div class="collapse navbar-collapse justify-content-between align-items-center" id="navbarNav">
                <ul class="navbar-nav ml-auto mr-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'game' %}">Game</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    

    <!-- Main content area -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <div class="clear"></div>
    <footer class="footer fixed-bottom bg-success">
        <div class="container">
            <p>&copy; 2024 EXEPET. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
