{% extends 'base_template.html' %}

{% block title %}Home - EXEplorer{% endblock %}

{% block content %}

<section>
    <h1>EXEPET</h1>
    <p></p>
</section>

<section>
    <h3>About the Game</h3>
    <p>Join us in a non-competitive journey filled with fun and imagination. In this idle game, you'll have your very own virtual pet to take care of. Your pet may be snoozing or playing when you're not looking, adding an element of surprise to your gameplay.</p>
</section>

<section>
    <h3>How to Play</h3>
    <p>Earn coins by simply walking through different buildings on campus – no need to actively play 24/7. Whether it's before or after lectures, or during study breaks, you'll always have time to connect and earn rewards. Plus, we promote sustainable transportation methods like walking, so you can feel good about helping the environment while playing.</p>
    <p>Feeding your pet is a breeze – just scan a QR code to access our virtual shop and choose from a variety of food options. Keep your pet happy and healthy with delicious treats!</p>
    <p>Explore our campus map to discover various buildings where you can interact with your pet. From feeding to playing, there's always something fun to do. Join us in this exciting adventure and create lasting memories with your virtual companion. Start playing now and let the adventure begin!</p>
</section>

<section>
    <div class="container mt-5">
        <div class="d-flex justify-content-center">
            {% if user.is_authenticated %}
                <a href="{% url 'game' %}" class="btn btn-primary btn-lg start-btn">Start the game!</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg start-btn">Login to start the game!</a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
