<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QR Code Scanner</title>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  
  
</head>
<body>
  <div id ="your-qr-result"></div>
  <h1>QR Code Scanner</h1>
  <div>
    <div id="my-qr-reader" style="width: 600px;"></div>
  </div>
  <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
  <script>

    // Check if the document is loaded completely
    function domReady(fn){
      if (document.readyState === "complete" || document.readyState === "interactive"){
        setTimeout(fn, 1);
      } else {
        document.addEventListener("DOMContentLoaded", fn);
      }
    }
      domReady(function(){
        var myqr = document.getElementById('your-qr-result')
        var lastresult,countResults = 0;

        function onScanSuccess(decodedText, decodedResult) {
        // Navigate to the scanned link
        window.location.href = decodedText;
      } 


        var htmlscanner = new Html5QrcodeScanner(
          "my-qr-reader", { fps:10, qrbox:250 })
      
        htmlscanner.render(onScanSuccess);
      
        })
        




  </script>
</body>
</html>
