{% extends 'game/base_game_template.html' %}


{% block title %}EXEPET{% endblock %}

{% block content %}

<button id="button-reset" onclick="resetUserProfile()">Reset Profile</button>



{% load static %}
<style>
    .go-button {
        position: absolute;
        bottom: 10%;
        right: 2%;
        width: 100px;
        height: 100px;
    }

    .pet {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<div class="image-container">

    <div class="pet">
        <img src="{% static 'images/dragon.png' %}" alt="dragon">
    </div>

    <div class="go-button">
        <a href="{% url 'shop' %}">
            <img src="{% static 'images/go.png' %}" alt="execute">
        </a>
    </div>

</div>


{% endblock %}

