{% extends 'game/base_game_template.html' %}


{% block title %}EXEPET{% endblock %}

{% block content %}

<button id="button-reset" onclick="resetUserProfile()">Reset Profile</button>



{% load static %}
<style>
    .go-button {
        position: absolute;
        bottom: 10%;
        right: 2%;
        width: 100px;
        height: 100px;
    }

    .pet {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<div class="image-container">

    <div class="pet">
        <img src="{% static 'images/dragon.png' %}" alt="dragon">
    </div>

    <div class="go-button">
        <a href="{% url 'shop' %}">
            <img src="{% static 'images/go.png' %}" alt="execute">
        </a>
    </div>

</div>

<script>
    function startPetWalk() {
        fetch('{% url "start-pet-walk" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.success);
            // Here you can also add code to hide the dragon image immediately
            document.querySelector('.pet img').style.display = 'none';
        });
    
        // Function to get CSRF token
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    }
</script>
{% endblock %}

