{% extends 'base_template.html' %}

{% block title %}Scanner - EXEplorer{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href=" {% static 'css/scanner_styles.css' %}">

<div id="qr-scanner-container">
    <div id="qr-reader"></div>
</div>
<script src="https://unpkg.com/html5-qrcode"></script>
<script>
  // Check if the document is loaded completely
  function domReady(fn){
    if (document.readyState === "complete" || document.readyState === "interactive"){
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }
  domReady(
    function(){
      var myqr = document.getElementById('qr-reader-result')
      var lastresult,countResults = 0;

      function onScanSuccess(decodedText, decodedResult) {
          // Navigate to the scanned link
          window.location.href = decodedText;
      } 
      var htmlscanner = new Html5QrcodeScanner(
        "qr-reader", { fps:10, qrbox:250,})
      htmlscanner.render(onScanSuccess);
    } 
  );
</script>
{% endblock %}

