
{% extends 'game/base_game_template.html' %}


{% block title %}Plant a Tree{% endblock %}

{% block content %}

{% load static %}
<style> 
 
    .countdown {
      position: fixed;
      top: 80px;
      right: 120px;
      background-color: gold;
      padding: 5px;
      border-radius: 5px;
      color: black;
    }

.start-container {
    /*Using display: flex with flex-direction: column: 
    This approach uses flexbox to create a column layout. 
    All child elements will be stacked vertically within their container.*/
    display: flex;
    flex-direction: column;
    background-color: rgb(81, 163, 135);     /* Background color */
    margin: 20px; /* Margin around the container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    display: flex; /* Flexbox layout */
    align-items: center; /* Align items vertically */
}

/* Style for the plant button */
#plantButton {
    width: 200px; /* Set the maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    margin-right: 10px; /* Margin between button and text */
}

/* Style for the text */
#plantTree-text {
    color: #333; /* Text color */
}
#plantTree-text {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  top: 80%;
  color: white;
}
#resetButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; /* Change display property to block */
    margin: 0 auto; /* Set left and right margins to auto to center horizontally */
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
#close-Button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Set the maximum width */
    height: auto; /* Allow the height to adjust proportionally */
    margin-right: 10px; /* Margin between button and text */
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
</style>
<button id="resetButton">Reset</button>
<img id="close-Button" src="{% static 'images/close-tab-bar-64.png' %}" alt="Close" onclick="goBack()">
<div class="start-container">
    <p id="plantTree-text"> Click the tree to start planting!</p>
    <img id="plantButton" src="{% static 'images/treebutton.jpg' %}" alt="treebutton" onclick="plantTree()">
</div>
</div>
<img id="treeImage1" src="{% static 'images/seed.jpg' %}" alt="Seed">
<img id="treeImage2" src="{% static 'images/sprout.jpg' %}" alt="Sprout">
<img id="treeImage3" src="{% static 'images/sapling.jpg' %}" alt="Sapling">
<img id="treeImage4" src="{% static 'images/tree.jpg' %}" alt="Tree">


<div class="countdown">
    <p id="countdownTimer">not started</p> 
</div>

<script>
 
let stage1 = 'static/images/seed.jpg';
let stage2 = 'static/images/sprout.jpg';
let stage3 = 'static/images/sapling.jpg';
let stage4 = 'static/images/tree.jpg';

let stages = [stage1, stage2, stage3, stage4];
let currentStage = 1;
let cherriesAdd = 10;
let countdownTime = 40000;
// let cooldownDuration = 3600000; // 1 hour in milliseconds, change for testing if needed
let plantingInProgress = false; // Flag to track if planting process is in progress
hideAllImages();
window.onload = function() {
    // Hide all images initially
    for (let i = 1; i <= stages.length; i++) {
        document.getElementById('treeImage' + i).style.display = 'none';
    }
    
};
function goBack() {
    window.history.back();
}
function plantTree() {
    if (plantingInProgress) return; // If planting is already in progress, exit

    // Start planting process
    plantingInProgress = true;
    countdownTimer(countdownTime / 1000); // Start countdown timer /1000 

    // Display seed image initially
    document.getElementById('treeImage1').style.display = 'block';

    // Start growing stages after button click
    let interval = setInterval(() => {
                                    /*curentstage start at */
        if (currentStage < stages.length) {
            currentStage++;
            // Hide all images except the current stage
            for (let i = 1; i <=stages.length; i++) {
                document.getElementById('treeImage' + i).style.display = 'none';
            }
            // Display the current stage image
            document.getElementById('treeImage' + (currentStage)).style.display = 'block';
            console.log('Current stage(1,2,3,4):', currentStage); // Log the current stage
            if(currentStage === stages.length){
                console.log('Tree is fully grown!'+currentStage); // Log when tree is fully grown
                
                clearInterval(interval); // Stop interval when tree is fully grown  
                plantingInProgress = false; // Reset planting flag
            }
            
        } 
    }, 10000); // Change stage every (10) seconds for testing
}



function countdownTimer(seconds) {
    // Display countdown timer
    let timerElement = document.getElementById('countdownTimer');
    timerElement.textContent = `Countdown ends in: ${formatTime(seconds)}`;
    
    // Update timer every second
    let countdown = setInterval(() => {
        seconds--;
        timerElement.textContent = `Countdown ends in: ${formatTime(seconds)}`;
        if (seconds <= 0) {
            clearInterval(countdown); // Stop countdown when timer reaches zero
            document.getElementById('plantButton').disabled = false; // Enable plant button
            timerElement.textContent = ''; // Clear timer display
            if (currentStage === stages.length) {
                incrementCherriesValue(); // Increment cherries value when tree is fully grown
                decrementCarbonValue(); // Decrement carbon footprint value by (3) when tree is fully grown
                alert('Congratulations! You have grown a full tree and earned 10 bonus cherries!, carbon footprint reduced by 1!');
                plantingInProgress = false; // Reset planting flag
            }
        }
    }, 1000);
}

function formatTime(seconds) {
    // Format time as minutes:seconds
    let minutes = Math.floor(seconds / 60);
    let remainingSeconds = seconds % 60;
    return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
}

document.getElementById('plantButton').addEventListener('click', function() {

    // Check if plantingInProgress is true
    if (plantingInProgress) {
        // Get all elements with the class 'start-container'
        var containers = document.getElementsByClassName('start-container');

        // Loop through each container and hide them
        for (var i = 0; i < containers.length; i++) {
            containers[i].style.display = 'none';
        }
    }
});

function hideAllImages() {
    // Get all images by their IDs
    var imageIds = ['treeImage1', 'treeImage2', 'treeImage3', 'treeImage4'];

    // Loop through each image ID and hide the corresponding image
    for (var i = 0; i < imageIds.length; i++) {
        var image = document.getElementById(imageIds[i]);
        if (image) {
            image.style.display = 'none';
        }
    }
}
// Define a function to hide the container and its elements
function hideContainer() {

    // Check if plantingInProgress is true
    if (plantingInProgress) {
        // Get all elements with the class 'start-container'
        var containers = document.getElementsByClassName('start-container');

        // Loop through each container and hide them
        for (var i = 0; i < containers.length; i++) {
            containers[i].style.display = 'none';
        }
    }
}
function showContainer() {
    // Get all elements with the class 'start-container'
    var containers = document.getElementsByClassName('start-container');

    // Loop through each container and make them visible
    for (var i = 0; i < containers.length; i++) {
        containers[i].style.display = 'block';
    }
}


function incrementCherriesValue() {
    // Get the cherry number element
   // Send an AJAX request to fetch the updated cherries value
   $.ajax({
        url: '/api/get_cherries_value/',  // URL to your API endpoint that returns the cherries value
        type: 'GET',
        success: function(response) {
            // Increment the cherries value by 10
            var currentCherries = response.cherries_value;
            var updatedCherries = parseInt(currentCherries) + 10;
            console.log('updated Cherries:', updatedCherries);
            
            // Send another AJAX request to update the cherries value on the server
            $.ajax({
                url: '/api/update_cherries_value/',
                type: 'POST',
                data: { cherries_value: updatedCherries },
                success: function(response) {
                    if (response.success) {
                        // Update the displayed cherries value with the updated value
                        var cherryNumElement = document.getElementById("cherry_num");
                        cherryNumElement.textContent = updatedCherries;
                    } else {
                        console.error('Failed to update cherries value:', response.error);
                        // Optionally, display an error message to the user
                        // $('#error-message').text('Failed to update cherries value. Please try again later.');
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                    // Optionally, display an error message to the user
                    // $('#error-message').text('An error occurred while communicating with the server. Please try again later.');
                }
            });
        },
        error: function(xhr, errmsg, err) {
            // Handle errors if any
            console.log(xhr.status + ": " + xhr.responseText); // Log the error message
        }
    });
}
function decrementCarbonValue() {
    // Send an AJAX request to decrement the carbon footprint on the server
    $.ajax({
        url: '/api/decrement_carbon_footprint/', // Your API endpoint
        type: 'POST',
        data: {
            // Since your backend logic decrements by a fixed amount,
            // no need to send the amount unless you modify the backend to accept variable amounts
        },
        headers: {
            'X-CSRFToken': getCookie('csrftoken'), // Ensure CSRF token is included if needed
        },
        success: function(response) {
            if (response.success) {
                // Update the displayed carbon footprint value with the new value from the response
                var carbonValueElement = document.getElementById("carbon_num");
                carbonValueElement.textContent = response.new_carbon_footprint_value; // Update to match the exact response structure
            } else {
                console.error('Failed to decrement carbon footprint:', response.error);
                // Optionally, display an error message to the user
                // $('#error-message').text('Failed to decrement carbon footprint. Please try again later.');
            }
        },
        error: function(xhr, errmsg, err) {
            console.error(xhr.status + ": " + xhr.responseText);
            // Optionally, display an error message to the user
            // $('#error-message').text('An error occurred while communicating with the server. Please try again later.');
        }
    });
}


// Select the reset button element
var resetButton = document.getElementById('resetButton');

// Add event listener to the reset button
resetButton.addEventListener('click', function() {
    // Reset the variables to their initial values
    currentStage = 1;
    cherries = 0;
    let countdownTime = 40000;
    plantingInProgress = false;
    hideAllImages();
    showContainer();
    console.log("currentStage: " + currentStage);
    console.log("cherries: " + cherries);
    console.log("plantingInProgress: " + plantingInProgress);
});

</script>


{% endblock %}
