/* CSS styles for the green theme */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.content {
    padding: 20px;
}

.clear { clear: both; height: 80px; }

.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.start-btn {
    background-color: #4CAF50;
    border: #4CAF50;
}

.start-btn:hover {
    background-color: #2E8B57; 
  }